/*-- -------------------------- -->
<---           LANDING          -->
<--- -------------------------- -*/

@media only screen and (min-width: 0em) {

    #hero {
        min-height: 400px;
        height: 400px;
        background: url('/images/image-10.jpg');
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
        position: relative;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
            -ms-flex-direction: row;
                flex-direction: row;
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center;
        -webkit-box-pack: start;
            -ms-flex-pack: start;
                justify-content: flex-start;
        color: #fff;
    }
    
    #dark {
        background: #000;
        position: absolute;
        top: 0;
        left: 0;
        height: 100%;
        width: 100%;
        z-index: 0;
        opacity: .7;
    }
    
    #home-h {
        width: 200px;
        text-align: center;
        font-size: 3.4375em;
        position: relative;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: center;
            -ms-flex-pack: center;
                justify-content: center;
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center;
        z-index: 50;
        margin-top: 50px;
        color: #fff;
    }
    
    #home-h:before {
        content: '';
        position: absolute;
        width: 180px;
        height: 200px;
        border: 10px solid rgba(255,218,45, .4);
        z-index: -1;
    }
    
    .white-comb {
        position: absolute;
        width: 100%;
        bottom: -2px;
        z-index: 100;
    }
    
    .white-comb.dark-mode {
        display: none !important;
    }
    
    .dark-comb.dark-mode {
        display: block;
        position: absolute;
        bottom: -2px;
        z-index: 100;
    }
}

@media only screen and (min-width: 48em) {

    #hero {
        position: relative;
        height: 600px;
    }

    #home-h {
        font-size: 4.375em;
        margin-bottom: 0;
    }

    #hero img {
        display: block;
        position: absolute;
        width: 100%;
        bottom: 0;
        z-index: 40;
    }

    .white-comb {
        position: absolute;
        bottom: -2px !important;
    }
}

@media only screen and (min-width: 64em) {

    #hero {
        height: 600px;
        background: url('/images/image-10.jpg');
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
        background-attachment: fixed;
        position: relative;
    }

    #home-h {
        -webkit-transform: translateY(40px);
            -ms-transform: translateY(40px);
                transform: translateY(40px);
        font-size: 4.375em;
    }

    #hero img {
        display: block;
        position: absolute;
        width: 100%;
        bottom: 0;
        z-index: 40;
    }
}

/*-- -------------------------- -->
<---            FORM            -->
<--- -------------------------- -*/

/* Mobile */
@media screen and (min-width: 0px) {

    #contact-form {
        height: auto;
        padding-top: 0;
        padding-bottom: 100px !important;
    }
    
    #contact-form span {
        color: #999;
        font-size: 0.875em;
        text-transform: uppercase;
    }
    
    .contact-topper {
        font-weight: 700;
        margin-bottom: 0px;
        position: relative;
        margin-top: 50px;
        color: #414141;
        width: 100%;
        margin-bottom: 25px;
        margin-top: 10px;
        border-left: 5px solid var(--primary);
        padding-left: 20px;
        font-size: 2.143em;
    }
    
    .contact-topper span {
        color: var(--primary);
        display: inline-block;
    }
    
    /* Form */
    #valley-form {
        display: relative;
        margin-top: 70px;
    }
    
    #contact-form input[type="text"], 
    #contact-form input[type="email"], 
    #contact-form input[type="tel"], 
    #contact-form input[type="url"], 
    #contact-form textarea, 
    #contact-form button[type="submit"] { 
        font:400 12px/16px "Open Sans", Helvetica, Arial, sans-serif; 
    }
    
    #contact-form {
        background: transparent;
        position: relative;
        z-index: 3;
        max-width: 350px;
        margin: auto;
        padding-top: 50px;
        padding-bottom: 50px;
    }
    
    .form-text {
        margin: 0 0 30px 0;
        display:block;
        color: #414141;
        line-height: 1.6em;
    }
    
    form p{
        border: medium none !important;
        margin: 0 0 10px;
        min-width: 100%;
        padding: 0;
        width: 100%;
    }
    
    #contact-form input[type="text"], 
    #contact-form input[type="email"], 
    #contact-form input[type="tel"], 
    #contact-form input[type="url"], 
    #contact-form textarea {
        font-family: 'Poppins', sans-serif;
        font-weight: 300;
        font-size: .9em;
        width:100%;
        border: none;
        border: 1px solid transparent;
        border-bottom: 1px solid rgb(212, 212, 212);
        background:#FFF;
        margin:0 0 15px;
        padding:30px 20px 20px 10px;
        -webkit-box-sizing: border-box;
                box-sizing: border-box;
    }
    
    #contact-form input[type="text"]:hover, 
    #contact-form input[type="email"]:hover, 
    #contact-form input[type="tel"]:hover, 
    #contact-form input[type="url"]:hover, 
    #contact-form textarea:hover {
        -webkit-transition:border-color 0.3s ease-in-out;
        -o-transition:border-color 0.3s ease-in-out;
        transition:border-color 0.3s ease-in-out;
        border:1px solid var(--primary);
    }
    
    #contact-form textarea {
        height:200px;
        max-width:100%;
        resize:none;
        margin-bottom: 30px;
    }
    
    #contact-form button[type="submit"] {
        cursor:pointer;
        width: 100%;
        font-weight: 900;
        font-size: 1em;
        margin: 0;
        background: var(--primary);
        color: #fff;
        width: auto;
        padding: 10px 30px;
        border: none;
    }
    
    #contact-form button::before {
        border-color: var(--primary);
    }
    
    #contact-form button::after {
        border-color: var(--primary);
    }
    
    #contact-form button[type="submit"]:hover {
        opacity: .6;
        -webkit-transition:background 0.3s ease-in-out;
        -webkit-transition:background-color 0.3s ease-in-out;
        -o-transition:background-color 0.3s ease-in-out;
        transition:background-color 0.3s ease-in-out;
    }
    
    #contact-form button[type="submit"]:active { 
        -webkit-box-shadow:inset 0 1px 3px rgba(0, 0, 0, 0.5); 
        box-shadow:inset 0 1px 3px rgba(0, 0, 0, 0.5); }
    
    #contact-form input:focus, #contact-form textarea:focus {
        outline:0;
        border:1px solid #999;
    }
    ::-webkit-input-placeholder {
     color:#888;
    }
    :-moz-placeholder {
     color:#888;
    }
    ::-moz-placeholder {
     color:#888;
    }
    :-ms-input-placeholder {
     color:#888;
    }
    
    .form-h4 {
        font-size: 1.190em;
    }
    
    .form-p {
        margin-bottom: 100px;
    }
    
    .form-submit {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: end;
            -ms-flex-pack: end;
                justify-content: flex-end;
    }
    
    /* contact right */
    
    .contact-right {
        padding: 45px 35px;
        background: #282828;
        margin-bottom: 50px;
    }
    
    .contact-right h3 {
        font-size: 1.375em;
        padding-left: 15px;
        margin-bottom: 20px;
        border-left: 5px solid var(--primary);
        color: #fff;
    }
    
    .contact-right p {
        margin-bottom: 35px;
        color: #fff;
        opacity: .65;
    }
}

/* Tablets */
@media screen and (min-width: 500px) and (max-width: 1024px) {

    /*-- -------------------------- -->
    <---            FORM            -->
    <--- -------------------------- -*/

    #valley-form {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
        -webkit-box-pack: justify;
            -ms-flex-pack: justify;
                justify-content: space-between;
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center;
    }

    #contact-form {
        max-width: 100%;
        margin-top: 50px;
    }

    .form-p {
        min-width: 500px;
        width: 500px;
    }

    .contact-right {
        text-align: left;
        width: 500px;
        margin-bottom: 50px;
        width: 100%;
    }

}

/* Desktop */
@media screen and (min-width: 1025px) {

    /*-- -------------------------- -->
    <---            FORM            -->
    <--- -------------------------- -*/

    #valley-form {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
            -ms-flex-direction: row;
                flex-direction: row;
        -webkit-box-pack: justify;
            -ms-flex-pack: justify;
                justify-content: space-between;
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center;
        padding-top: 80px;
        padding-bottom: 80px;
        max-width: 1200px;
        padding-bottom: 200px;
    }

    #contact-form {
        max-width: 700px;
        margin-right: 100px;
    }

    .form-p {
        margin-bottom: 50px;
    }

    .contact-right {
        width: 300px;
        border-radius: 5px;
    }

    .input1 {
        width: 45% !important;
    }

    .right {
        float: right;
    }

}