/* Dark Mode Toggle */

@media screen and (min-width: 0px) {

    :root {
        --dark: #121212;
        --medium: #292929;
        --light: #3c3c3c;
    }
    
    .dark-mode-group {
        position: absolute;
        top: -340px;
        right: 15px;
        width: 80px;
        height: 470px;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
        -webkit-box-pack: justify;
            -ms-flex-pack: justify;
                justify-content: space-between;
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center;
    }
    
    .dark-mode-group p {
        font-size: .7em !important;
        text-align: center;
        color: #fff;
    }
    
    .dark-toggle {
        margin: 0;
        width: 30px;
        height: 16px;
        z-index: 20;
        border-radius: 10px;
        background: transparent;
        border: 3px solid #fff;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center;
        -webkit-transition: .3s ease;
        -o-transition: .3s ease;
        transition: .3s ease;
        display: flex;
        -webkit-box-pack: center;
            -ms-flex-pack: center;
                justify-content: center;
        z-index: 1000;
        display: flex;
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
            -ms-flex-direction: row;
                flex-direction: row;
        align-items: center;
        -webkit-transform: rotate(90deg);
            -ms-transform: rotate(90deg);
                transform: rotate(90deg);
    }
    
    .dark-toggle span {
        height: 20px;
        width: 20px;
        left: -8px;
        margin: 0;
        border-radius: 50%;
        background: #fff;
        position: absolute;
        -webkit-transition: .3s ease;
        -o-transition: .3s ease;
        transition: .3s ease;
        -webkit-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.75);
        box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.75);
    }
     
    .top-dark-mode-button {
        position: absolute;
        top: 5px;
        left: 25px;
        -webkit-transform: rotate(-90deg);
            -ms-transform: rotate(-90deg);
                transform: rotate(-90deg);
        z-index: 1000;
        -webkit-transition: .3s ease-in;
        -o-transition: .3s ease-in;
        transition: .3s ease-in;
        z-index: 1001;
    }
    
    .top-dark-mode-button:after {
        content: 'DARK';
        position: absolute;
        color: var(--dark);
        -webkit-transform: rotate(90deg);
            -ms-transform: rotate(90deg);
                transform: rotate(90deg);
        right: 22px;
        top: 10px;
        -webkit-transition: .1s ease-in;
        -o-transition: .1s ease-in;
        transition: .1s ease-in;
    }
    
    .top-dark-mode-button.dark-mode:after {
        content: 'LIGHT';
        color: #fff;
        top: 12px;
    }
    
    .top-dark-mode-button .dark-toggle {
        background: rgb(230, 230, 230);
        border-color: rgb(230, 230, 230);
        -webkit-box-shadow: 0px 15px 5px -8px rgba(0,132,53,.5);
                box-shadow: 0px 15px 5px -8px rgba(0,132,53,.5);
        width: 35px;
    }
    
    .dark-mode-button {
        background: transparent;
        border: none;
        height: 40px;
        width: 30px;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
        -webkit-box-pack: center;
            -ms-flex-pack: center;
                justify-content: center;
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center;
    }
    
    .dark-toggle.dark-mode {
        background: var(--primary);
        border: none;
    }
    
    .dark-toggle span.dark-mode {
        left: 15px;
        -webkit-transition: .3s ease;
        -o-transition: .3s ease;
        transition: .3s ease;
    }
    
    /* Navigation */
    body.dark-mode .navbar-menu {
        background: #222 ;	
        background: -o-linear-gradient(#222, var(--dark));	
        background: -webkit-gradient(linear, left top, left bottom, from(#222), to(var(--dark)));	
        background: linear-gradient(#222, var(--dark));	
    }
    
    .dark {
        display: none;
    }
    
    body.dark-mode .dark {
        display: block;
    }
    
    body.dark-mode .light {
        display: none;
    }
    
    body.dark-mode .mobile-nav {
        background: var(--dark);
    }
    
    body.dark-mode .side-nav a {
        color: #fff;
    }
    
    body.dark-mode .hamburger-inner, 
    body.dark-mode .hamburger-inner::before, 
    body.dark-mode .hamburger-inner::after {
        background: #fff;
        -webkit-transition: .3s ease;
        -o-transition: .3s ease;
        transition: .3s ease;
    }
    
    body.dark-mode .hamburger.is-active .hamburger-inner::after,
    body.dark-mode .hamburger.is-active .hamburger-inner::before {
        background: #fff;
    }
    
    /* Body and Core Elements */
    body.dark-mode {
        background: var(--dark);
    }
    
    body.dark-mode h2, body.dark-mode p {
        color: #fff !important;
        opacity: .9;
    }
    
    body.dark-mode p {
        opacity: .9;
    }
    
    body.dark-mode h3 {
        color: var(--primary);
    }
    
    /*-- -------------------------- -->
    <---          LANDING           -->
    <--- -------------------------- -*/
    
    body.dark-mode .big-circle,
    body.dark-mode .little-circle,
    body.dark-mode .little-circle:after {
        background: var(--dark);
    }
    
    body.dark-mode #home-h {
        color: #fff;
    }
}

/* Tablets */
@media screen and (min-width: 768px) {


}

/* Small Desktop */
@media screen and (min-width: 1024px) {

    body.dark-mode .navbar-menu {
        overflow: visible;
    }

    body.dark-mode:before {
        background: var(--dark);
    }
    
    .top-dark-mode-button {
        position: absolute;
        left: auto;
        top: 50px;
        right: 20px;
        -webkit-transform: rotate(-90deg);
            -ms-transform: rotate(-90deg);
                transform: rotate(-90deg);
        z-index: 5000;
    }

    .top-dark-mode-button:after {
        color: #000;
    }

    body.dark-mode .navbar-menu:before {
        background: var(--dark);
    }

    body.dark-mode .navbar-menu {
        -webkit-box-shadow: none;
                box-shadow: none;
        background: transparent;
    }


    body.dark-mode .schedule a {
        color: var(--dark);
    }

    body.dark-mode .split .right .one {
        border-bottom: 13px solid var(--dark);
    }

    body.dark-mode #process .card:before {
        background: var(--medium);
    }

    body.dark-mode #process .card .green {
        background: #1c4a49;
    }

    body.dark-mode #portfolio .line:before {
        background: #1c4a49;
    }

    body.dark-mode #portfolio:before {
        background: #1c4a49;
    }
}

/* Intermediate Desktop */
@media screen and (min-width: 1200px) {
    .top-dark-mode-button {
        right: auto;
        left: 50%;
        margin-left: 550px;
    }
}

/* Regular Desktop */
@media screen and (min-width: 1500px) {
    body.dark-mode .split .right .one {
        border-bottom: none;
    }
}